.form-producto {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 2rem;
  }
  
  .form-producto > * {
    width: 100%;
  }

  .button-row{
    display: flex;
    justify-content: center;
  }

  .button {
    margin: 1rem;
    width: 20rem;
  }
