<form [formGroup]="productoForm" (ngSubmit)="onSubmit()" class="form-producto">
  <mat-form-field>
    <input id="nombre" matInput placeholder="Nombre del producto" formControlName="nombre">
    <mat-error *ngIf="nombre.invalid">{{getErrorMessageNombre()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Precio base" formControlName="precioBase">
    <mat-error *ngIf="precioBase.invalid">{{getErrorMessagePrecioBase()}}
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button [disabled]="!productoForm.valid || productoForm.pristine || productoForm.untouched" autofocus class="button"
      mat-raised-button color="primary" type="submit">Aceptar</button>
    <button class="button" mat-raised-button color="accent" type="button"
      (click)="volverEditarProductos()">Cancelar</button>
  </div>
</form>