.form-nueva-fila {
    /* max-width: 500px; */
    width: 100%;
    padding: 2em;
  }
  
  .full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  /* td {
    padding-right: 0.1em;
  } */

  .card-subtotal{
    text-align: center;
  }

  .button-row {
    margin-top: 2em;
    text-align: center;
  }

  .add-button{
    min-width: 200px;
  }


  .clean-button {
    min-height: 60px;
  }