<mat-tab-group class="animated fadeIn">
  <!-- Buscar o crear planilla -->
  <mat-tab label="Buscar planilla">
    <app-buscar-planilla [planilla]="planilla"></app-buscar-planilla>
  </mat-tab>
  <mat-tab label="Planilla">
    <app-tabla-planilla [planilla]="planilla"></app-tabla-planilla>
  </mat-tab>
  <mat-tab label="Agregar fila">
    <app-agregar-fila [planilla]="planilla"></app-agregar-fila>
  </mat-tab>
  <mat-tab label="Proveedores">
    <app-proveedores></app-proveedores>
  </mat-tab>
  <mat-tab label="Acciones">
    <app-acciones [planilla]="planilla"></app-acciones>
  </mat-tab>
</mat-tab-group>