<mat-toolbar color="primary">
  <span>Reparto</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/buscar-planilla']">Planilla</button>
  <button mat-button [matMenuTriggerFor]="menu">Clientes</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="nuevoCliente()">Nuevo cliente</button>
    <button mat-menu-item [routerLink]="['/clientes']">Lista de Clientes</button>
  </mat-menu>
  <button mat-button [routerLink]="['/editar-productos']">Editar productos</button>
</mat-toolbar>