<mat-toolbar color="primary">
  <!-- <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button> -->
  <!-- <mat-menu #menu="matMenu"> -->
  <!-- TODO: mostrar de acuerdo a la seleccion del menu en el toolbar -->
  <span>Reparto</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/planilla']">Planilla</button>
  <button mat-button (click)="nuevoCliente()">Nuevo cliente</button>
  <button mat-button [routerLink]="['/clientes']">Clientes</button>
  <button mat-button [routerLink]="['/editar-productos']">Editar productos</button>
  <!-- </mat-menu> -->
  <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
</mat-toolbar>