<div class="container">
  <br />
  <p class="h2">Ingrese fecha de la planilla, recaudacion, gastos, carga del dia y pagos</p><br />
  <div class="dropdown-divider"></div>
  <form #planillaForm="ngForm">
    <div class="form-group">
      <div *ngIf="planilla.fecha == null" class="alert alert-danger" role="alert">
        Este campo es requerido
      </div>
      <label for="fecha">Fecha</label>
      <my-date-picker name="fecha" [options]="opcionesFecha" [(ngModel)]="fechaModel" required>
      </my-date-picker>
      <small id="fechaPlanilla" class="form-text text-muted">Seleccione una fecha</small>
    </div>
    <div class="form-generico">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Gastos del dia</mat-label>
        <input matInput placeholder="Ingrese gastos del dia" [(ngModel)]="planilla.gastos" name="gastos"
          #gastos="ngModel" pattern="^[0-9]+$" required>
        <mat-error *ngIf="gastos.invalid">Ingrese una cantidad válida</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Recaudacion del dia</mat-label>
        <input matInput placeholder="Ingrese la recaudacion del dia" [(ngModel)]="planilla.recaudacion"
          name="recaudacion" pattern="^[0-9]+$" #recaudacion="ngModel" required>
        <mat-error *ngIf="recaudacion.invalid">Ingrese una cantidad válida</mat-error>
      </mat-form-field>
    </div>
    <br />
    <div class="button-row">
      <button mat-stroked-button color="primary" class="button" type="button" (click)="restablecer(planillaForm); "
        [disabled]="!planillaForm.form.valid || planillaForm.form.pristine || planillaForm.form.untouched ">Restablecer
      </button>
      <button mat-stroked-button color="primary" class="button" type="button" (click)="guardarPlanilla(planillaForm); "
        [disabled]="!planillaForm.form.valid || planillaForm.form.pristine || planillaForm.form.untouched ">Guardar cambios
      </button>
    </div>
  </form>
</div>