<form [formGroup]="listaProdForm" (ngSubmit)="onSubmit()" class="container">
  <br /><p class="h1 text-center">Precios de productos</p><br />
  <div class="dropdown-divider"></div>
  <div formArrayName="prods" *ngFor="let prod of prods.controls; let i=index">
    <div [formGroupName]="i" class="form-generico">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre del producto</mat-label>
        <input matInput placeholder="Ingrese nombre" formControlName="nombre">
        <mat-error *ngIf="prod.invalid">{{getErrorMessageNombre(prod)}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Precio del producto</mat-label>
        <input type="number" matInput placeholder="Nuevo precio" formControlName="precioBase">
        <mat-error *ngIf="prod.invalid">{{getErrorMessagePrecioBase(prod)}}</mat-error>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
  <div class="button-row">
    <button [disabled]="!listaProdForm.valid || listaProdForm.pristine || listaProdForm.untouched" autofocus
      class="button" mat-raised-button color="primary" type="submit">Aceptar</button>
    <button class="button" mat-raised-button color="accent" type="button" (click)="volver()">Cancelar</button>
  </div>
</form>