<mat-grid-list cols="12" rowHeight="3em" class="container">
  <mat-grid-tile [colspan]="8" [rowspan]="2">
    <p class="h2">PLANILLA DIARIA</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <!-- <h5 for="fecha" class="grey-text">Fecha:</h5>  -->
    <!-- <h4 for="fecha" class="grey-text">17/01/2020</h4> -->
    <p class="h3">17/01/2020</p>
    <!-- TODO: Seleccionar fecha con my date picker -->
    <!-- <my-date-picker name="fechaApuesta" [options]="opcionesFecha" [(ngModel)]="fechaModel" required>
    </my-date-picker> -->
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1" style="background: rgb(230, 230, 230)">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: rgb(230, 230, 230)">
    Carga
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: rgb(230, 230, 230)">
    Carga
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: rgb(230, 230, 230)">
    Pago
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: rgb(230, 230, 230)">
    Saldo
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    Proveedor 1
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    80
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    60
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    $ 14000
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    $ 300
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    Proveedor 2
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    50
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    65
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    $ 2600
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    $ 1400
  </mat-grid-tile>
</mat-grid-list>