<form class="form-nueva-fila">
  <div class="alert alert-danger animate-repeat" *ngFor="let error of errors">{{error}}</div>
  <div class="row">
    <div class="col-sm-10">
      <mat-form-field appearance="fill" class="full-width">
        <mat-select placeholder="Seleccionar cliente" [(ngModel)]="nuevaFila.cliente" name="cliente"
          (ngModelChange)="crearCeldas()">
          <!-- <mat-option [value]="null">
            Seleccionar</mat-option> -->
          <mat-option [value]="cliente" *ngFor="let cliente of clientes">
            {{cliente.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <button mat-raised-button color="accent" class="full-width clean-button" (click)="limpiar()"
        [disabled]="!nuevaFila.cliente">
        Limpiar todo
      </button>
    </div>
  </div>
  <div *ngIf="nuevaFila.cliente" class="mt-2">
    <div class="row">
      <div class="col-sm" *ngFor="let celda of nuevaFila.celdas">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cantidad de {{celda.producto.nombre}}</mat-label>
          <input type="number" min="0" matInput placeholder="Cantidad" name="cantidad" [(ngModel)]="celda.cantidad">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="outline" class="full-width" color="accent">
          <mat-label>Pago</mat-label>
          <input type="number" matInput placeholder="Pago" name="pago" [(ngModel)]="nuevaFila.pago" required>
          <mat-error>
            Debe ingresar el pago (mayor o igual a cero).
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Observaciones</mat-label>
          <!-- Porque hay que agregar name ? -->
          <input matInput placeholder="Observaciones" name="observaciones" [(ngModel)]="nuevaFila.observaciones">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="alert alert-dark full-width card-subtotal alert-dismissible fade show" role="alert">
        Subtotal fila: <strong>${{subtotalFila}}</strong>
      </div>
    </div>
    <!-- Todo: mostrar un aviso si hay una deuda del cliente o al revez -->
    <!-- <div class="row">
      <div class="alert alert-primary" role="alert">
        {{warningDeuda}}
      </div>
    </div> -->
    <div class="row">
      <div class="col button-row">
        <button mat-raised-button color="primary" class="add-button clean-button" (click)="agregar()">
          Agregar
        </button>
      </div>
    </div>
  </div>
</form>