/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-generico {
  display: flex;
  align-items: center;
}

.form-generico > * {
  width: 100%;
}

.form-field{
  margin: 0.5em;
}

.button-row{
  display: flex;
  justify-content: center;
}

.button {
  margin: 1rem;
  width: 20rem;
}

.input-full-width{
  width: 100%;
}


