<div class="container animated fadeInUp">
  <br />
  <p class="h1 text-center ">Edicion de clientes</p><br />
  <div class="dropdown-divider"></div>
  <div class="alert alert-danger animate-repeat" *ngFor="let error of errors">{{error}}</div>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Nombre del cliente</mat-label>
    <input matInput placeholder="Nombre nuevo cliente" [(ngModel)]="nuevoNombre">
  </mat-form-field>
  <p class="h5">Precios finales de los productos</p>
  <div class="dropdown-divider"></div>
  <div class="row from-generico">
    <div class="col-sm" *ngFor="let celda of celdas">
      <mat-form-field class="form-field input-full-width" appearance="outline">
        <mat-label>{{celda.producto.nombre}}</mat-label>
        <!-- TODO: Mostrar error en matInput -->
        <input type="number" matInput placeholder="Nuevo precio" [(ngModel)]="celda.precioFinal">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
  <div class="button-row">
    <button class="button" mat-raised-button color="primary" (click)="aceptar()"
      style="margin-right: 1em;">Aceptar</button>
    <button class="button" mat-raised-button color="accent" (click)="volver()">Cancelar</button>
  </div>
</div>